openapi: 3.0.3
info:
  description: |
    API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.

    В числе возможностей интеграции:

    * управление каталогом товаров и витриной,

    * обработка заказов,

    * изменение настроек магазина,

    * получение отчетов.
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
  title: Партнерский API Маркета
  version: LATEST
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
servers:
- url: https://api.partner.market.yandex.ru
security:
- OAuth:
  - market:partner-api
paths:
  /campaigns:
    get:
      description: |
        Возвращает список магазинов, к которым имеет доступ пользователь — владелец авторизационного токена, использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaigns
      parameters:
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром page_size.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: |
          Количество скрытых товаров на странице.

          Используется вместе с параметром page_number.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
          description: Магазины пользователя.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Магазины пользователя
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
  /campaigns/{campaignId}:
    get:
      description: |
        Возвращает информацию о магазине.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaign
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
          description: Информация о магазине.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о магазине
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
  /campaigns/{campaignId}/logins:
    get:
      description: |
        Возвращает список логинов, у которых есть доступ к магазину.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaignLogins
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignLoginsResponse'
          description: "Список логинов, связанных с магазином."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Логины, связанные с магазином"
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
  /campaigns/{campaignId}/settings:
    get:
      description: |
        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.
        |**⚙️ Лимит:** 1000 запросов в час|
        |-|
      operationId: getCampaignSettings
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSettingsResponse'
          description: Настройки магазина
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Настройки магазина
      tags:
      - campaigns
      - dbs
  /campaigns/by_login/{login}:
    get:
      description: |
        Возвращает список магазинов, к которым у пользователя с указанным логином есть доступ.
        |**⚙️ Лимит:** 100 запросов в час|
        |-|
      operationId: getCampaignsByLogin
      parameters:
      - description: Логин пользователя.
        in: path
        name: login
        required: true
        schema:
          type: string
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром page_size.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: |
          Количество скрытых товаров на странице.

          Используется вместе с параметром page_number.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
          description: Информация о магазинах.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: "Магазины, доступные логину"
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
  /campaigns/{campaignId}/region:
    get:
      description: |
        Возвращает регион, в котором находится магазин.
        |**⚙️ Лимит:** 5 000 запросов в час|
        |-|
      operationId: getCampaignRegion
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignRegionResponse'
          description: |
            Возвращает регион, в котором находится магазин.

            |**⚙️ Лимит:** 1000 запросов в час|
            |-|
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Регион магазина
      tags:
      - campaigns
      - dbs
  /campaigns/{campaignId}/orders/{orderId}:
    get:
      description: |
        Возвращает информацию о заказе.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: getOrder
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: Информация о заказе
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о заказе
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders:
    get:
      description: |
        Возвращает информацию о заказах.

        Доступна фильтрация по нескольким характеристикам заказов:

        * дате оформления;

        * статусу;

        * этапу обработки или причине отмены;

        * типу (настоящий или тестовый);

        * дате отгрузки в службу доставки;

        * дате и времени обновления заказа.

        Информация о заказах, доставленных или отмененных больше 30 дней назад, не возвращается. Ее можно получить с помощью запроса информации об отдельном заказе `GET /campaigns/{campaignId}/orders/{orderId}` (если у вас есть идентификатор заказа) или запроса отчета по заказам `POST /campaigns/{campaignId}/stats/orders`.

        Максимальный диапазон дат за один запрос к ресурсу — 30 дней. Максимальное количество заказов в выходных данных запроса — 50.

        Результаты возвращаются постранично.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: getOrders
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Статус заказа:

          * `CANCELLED` — заказ отменен.

          * `DELIVERED` — заказ получен покупателем.

          * `DELIVERY` — заказ передан в службу доставки.

          * `PICKUP` — заказ доставлен в пункт самовывоза.

          * `PROCESSING` — заказ находится в обработке.

          * `UNPAID` — заказ оформлен, но еще не оплачен (если выбрана оплата при оформлении).

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/OrderStatusType'
      - description: |
          Этап обработки заказа (если он имеет статус `PROCESSING`) или причина отмены заказа (если он имеет статус `CANCELLED`).

          Возможные значения для заказа в статусе `PROCESSING`:

          * `STARTED` — заказ подтвержден, его можно начать обрабатывать.
          * `READY_TO_SHIP` — заказ собран и готов к отправке.
          * `SHIPPED` — заказ передан службе доставки.

          Возможные значения для заказа в статусе `CANCELLED`:

          * `DELIVERY_SERVICE_UNDELIVERED` — служба доставки не смогла доставить заказ.

          * `PROCESSING_EXPIRED` — значение более не используется.

          * `REPLACING_ORDER` — покупатель решил заменить товар другим по собственной инициативе.

          * `RESERVATION_EXPIRED` — покупатель не завершил оформление зарезервированного заказа в течение 10 минут.

          * `RESERVATION_FAILED` — Маркет не может продолжить дальнейшую обработку заказа.

          * `SHOP_FAILED` — магазин не может выполнить заказ.

          * `USER_CHANGED_MIND` — покупатель отменил заказ по личным причинам.

          * `USER_NOT_PAID` — покупатель не оплатил заказ (для типа оплаты `PREPAID`) в течение 30 минут.

          * `USER_REFUSED_DELIVERY` — покупателя не устроили условия доставки.

          * `USER_REFUSED_PRODUCT` — покупателю не подошел товар.

          * `USER_REFUSED_QUALITY` — покупателя не устроило качество товара.

          * `USER_UNREACHABLE` — не удалось связаться с покупателем.
          * `USER_WANTS_TO_CHANGE_DELIVERY_DATE` — покупатель хочет получить заказ в другой день.
          * `CANCELLED_COURIER_NOT_FOUND` — не удалось найти курьера.

          Также могут возвращаться другие значения. Обрабатывать их не требуется.
        in: query
        name: substatus
        required: false
        schema:
          $ref: '#/components/schemas/OrderSubstatusType'
      - description: |
          Начальная дата для фильтрации заказов по дате оформления.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `toDate`) должно быть не больше 30 дней.

          Значение по умолчанию: 30 дней назад от текущей даты.
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате оформления.

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `fromDate`) и конечной датой должно быть не больше 30 дней.

          Значение по умолчанию: текущая дата.
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной и конечной датой (параметр `supplierShipmentDateTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: supplierShipmentDateFrom
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате отгрузки в службу доставки (параметр `shipmentDate`).

          Формат даты: `ДД-ММ-ГГГГ`.

          Между начальной (параметр `supplierShipmentDateFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        in: query
        name: supplierShipmentDateTo
        required: false
        schema:
          format: date
          type: string
      - description: |
          Начальная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной и конечной датой (параметр `updatedAtTo`) должно быть не больше 30 дней.

          Начальная дата включается в интервал для фильтрации.
        in: query
        name: updatedAtFrom
        required: false
        schema:
          format: date-time
          type: string
      - description: |
          Конечная дата для фильтрации заказов по дате и времени обновления (параметр `updatedAt`).

          Формат даты: ISO 8601 со смещением относительно UTC. Например, `2017-11-21T00:42:42+03:00`.

          Между начальной (параметр `updatedAtFrom`) и конечной датой должно быть не больше 30 дней.

          Конечная дата не включается в интервал для фильтрации.
        in: query
        name: updatedAtTo
        required: false
        schema:
          format: date-time
          type: string
      - description: Способ отгрузки
        in: query
        name: dispatchType
        required: false
        schema:
          $ref: '#/components/schemas/OrderDeliveryDispatchType'
      - description: |
          Фильтрация заказов по типам:

          * `false` — заказ пользователя.

          * `true` — тестовый заказ Маркета.
        in: query
        name: fake
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Нужно ли вернуть только те заказы, в составе которых есть хотя бы один товар с кодом идентификации из системы «Честный ЗНАК»:

          * `true` — да;

          * `false` — нет.

          Такие коды присваиваются товарам, которые подлежат маркировке и относятся к определенным категориям.
        in: query
        name: hasCis
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов по наличию запросов покупателей на отмену:

          * `true` — возвращаются только заказы, которые находятся в статусе `DELIVERY` или `PICKUP` и которые пользователи решили отменить. Чтобы подтвердить или отклонить отмену, отправьте запрос [PUT campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation).
        in: query
        name: onlyWaitingForCancellationApprove
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Фильтрация заказов с долгой доставкой (31-60 дней) по подтвержденной дате доставки:

          * `true` — возвращаются только заказы с неподтвержденной датой доставки.
          * `false` — фильтрация не применяется.
        in: query
        name: onlyEstimatedDelivery
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          Номер страницы результатов.

          Значение по умолчанию: 1.

          Используется вместе с параметром page_size.

          `page_number` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: |
          Количество скрытых товаров на странице.

          Используется вместе с параметром page_number.

          `page_size` игнорируется, если задан `page_token`, `limit` или `offset`.
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
          description: Информация о заказах
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о заказах
      tags:
      - orders
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      description: |
        Передает Маркету коды маркировки для единиц товара в указанном заказе.

        Принимаются коды следующих типов:

        * Коды «Честного знака».
        * УИН для ювелирных изделий.
        * РНПТ и ГТД для импортных прослеживаемых товаров.

        {% note warning %}

        Прежде чем работать с этим методом, обязательно прочтите [статью о работе с маркируемыми товарами](https://yandex.ru/support/marketplace/orders/cz.html).

        {% endnote %}

        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного кода для второй.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: provideOrderItemIdentifiers
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderItemIdentifiersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvideOrderItemIdentifiersResponse'
          description: "Ответ 200 обозначает, что коды успешно записались. Ответ с\
            одержит краткие сведения о промаркированных товарах."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача уникальных кодов маркировки единиц товара
      tags:
      - orders
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/items:
    put:
      description: |
        Изменяет состав заказа, если позволяет выбранная служба доставки, в случаях:

        * покупатель уменьшил количество товара;
        * магазин не может поставить все товары в заказе.

        Для этого заказ должен находится в статусе `"status": "PROCESSING"` этапа обработки `"substatus": "STARTED"`. После передачи статуса `"substatus": "READY_TO_SHIP"` изменить состав невозможно.

        Если одинаковых товаров несколько, для уменьшения количества передайте обновленное значение в атрибуте `count` параметра `item`.

        Чтобы полностью удалить товар из заказа:

        * передайте значение `0`; или
        * не передавайте параметр `item`.

        Нельзя удалить или уменьшить количество товара, если он:

        * добавлен по акции;
        * составляет 99% стоимости заказа;
        * единственный товар в заказе.

        Если необходимо удалить такой товар, отмените заказ. Для этого отправьте запрос методом `PUT campaigns/{campaignId}/orders/{orderId}/status` и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.

        {% note info "Увеличить заказ нельзя" %}

        С помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ или заменить один товар другим.

        {% endnote %}

        **Возврат денег покупателю**

        Если покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:

        * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;

        * при оплате через Apple Pay или Google Pay — с момента, когда магазин удалит товар из заказа.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderItems
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderItemRequest'
        required: true
      responses:
        "200":
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Удаление товара из заказа или уменьшение числа единиц
      tags:
      - orders
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/status:
    put:
      description: |
        Изменяет статус заказа. Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStatus
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusResponse'
          description: В случае успешного изменения статуса заказа возвращается обновленная
            информация о заказе
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статуса заказа
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/status-update:
    post:
      description: |
        Изменяет статусы нескольких заказов. Максимальное количество заказов, у которых можно изменить статус в одном запросе, — 30.

        Возможные изменения статусов:

        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.
        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.
        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"` нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        Максимальное количество заказов, у которых можно изменить статус в одном запросе, — 30.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStatuses
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusesResponse'
          description: Возвращается информация об обновленных статусах заказов
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение статусов заказа
      tags:
      - orders
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      description: |
        Отгружаемый Маркету заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых мест.

        Количество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой инструкции](../../step-by-step/fbs.md).

        Метод устроен немного нестандартно: количество задается длиной массива пустых объектов.

        Раньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу, работают, но лучше делать по-новому.

        {% cut "Как было раньше" %}

        Структура тела PUT-запроса:

        ```
        {
          "boxes":
          [
            {
              "fulfilmentId": "{string}",
              "weight": {int64},
              "width": {int64},
              "height": {int64},
              "depth": {int64},
              "items":
              [
                {
                  "id": {int64},
                  "count": {int32}
                },
                ...
              ]
            },
            ...
          ]
        }
        ```
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `boxes`       |           | Список грузовых мест.       |

        **Параметры, вложенные в `boxes`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `fulfilmentId`       |  String   | Идентификатор грузового места в информационной системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |
        | `weight`       | Int64        | Масса брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |
        | `width`       | Int64   | Ширина грузового места в сантиметрах.       |
        | `height`       | Int64   | Высота грузового места в сантиметрах.       |
        | `depth`       | Int64   | Глубина грузового места в сантиметрах.        |
        | `items`       | Int64   | Список товаров в грузовом месте.       |

        **Параметры, вложенные в `items`**
        | **Параметр**  | **Тип**  | **Значение**  |
        | ----------- | ----------- | ----------- |
        | `id`       | Int64     | Идентификатор товара в рамках заказа.   |
        | `count`    | Int32     | Количество единиц товара в грузовом месте.       |

        {% endcut %}

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderShipmentBoxes
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Параметр больше не используется. Вставьте любое число — просто чтобы получился корректный URL.
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderShipmentBoxesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderShipmentBoxesResponse'
          description: "Имеет значение только тип ответа. Если вы получили `ОК`, к\
            оличество грузомест записано."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача количества грузовых мест в заказе
      tags:
      - orders
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      description: |
        Подтверждает или отклоняет запрос покупателя на отмену заказа, который передан службе доставки.

        Покупатель может отменить заказ в течение его обработки или доставки. Если заказ еще обрабатывается (имеет статус PROCESSING), вам не нужно подтверждать отмену заказа — он будет отменен автоматически.

        Если заказ уже передан службе доставки (принимает статус `DELIVERY` или `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов. Если служба доставки узнала об отмене до передачи заказа покупателю, подтвердите отмену с помощью запроса `PUT /campaigns/{campaignId}/orders/{orderId}/cancellation/accept`. Если заказ уже доставлен, отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги за него возвращаться не будут.

        Чтобы узнать, какие заказы были отменены в статусе `DELIVERY` или `PICKUP`, отправьте запрос `GET /campaigns/{campaignId}/orders`. В его URL добавьте входной параметр `onlyWaitingForCancellationApprove=true`. Вы также можете узнать об отмененных заказах через личный кабинет или почту — на нее придет уведомление об отмене.

        Если в течение 48 часов вы не подтвердите или отклоните отмену, заказ будет отменен автоматически.

        |**⚙️ Лимит:** 500 запросов в час|
        |-|
      operationId: acceptOrderCancellation
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderCancellationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Ответ на отмену заказа был успешно передан.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Отмена заказа покупателем
      tags:
      - orders
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      description: |
        Передает ключи цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами и инструкциями по активации, а также переведет заказ в финальный статус `DELIVERED`.

        Ключ нужно передать в течение 30 минут после перехода заказа в статус `PROCESSING`.

        Если в один заказ входят несколько ключей, передавайте их все в одном запросе.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: provideOrderDigitalCodes
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderDigitalCodesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача ключей цифровых товаров
      tags:
      - orders
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/delivery/date:
    put:
      description: |
        Метод изменяет дату доставки заказа в статусе PROCESSING или DELIVERY. Для заказов с другими статусами дату доставки изменить нельзя.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderDeliveryDate
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryDateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Успешное изменение даты доставки.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Изменение даты доставки заказа
      tags:
      - order-delivery
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/delivery/track:
    post:
      description: |
        Передает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки.

        Вы можете использовать запрос, чтобы повысить лояльность покупателей. Если они могут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину может возрасти.

        Передать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: setOrderDeliveryTrackCode
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryTrackCodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Трек‑номер посылки и идентификатор службы доставки были успешно
            переданы.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача трек‑номера посылки
      tags:
      - order-delivery
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/buyer:
    get:
      description: |
        Возвращает информацию о покупателе по идентификатору заказа.

        |**⚙️ Лимит:** 3 000 запросов в час|
        |-|
      operationId: getOrderBuyerInfo
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
          description: Информация о покупателе.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о покупателе
      tags:
      - order-delivery
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/verifyEac:
    put:
      description: |
        Отправляет Маркету код подтверждения для его проверки.

        Код подтверждает передачу заказа или невыкупа:

        * курьеру — курьер должен назвать магазину код;
        * магазину — магазин называет код курьеру.

        Если магазин получает невыкупленный заказ, то ему нужно назвать курьеру код из личного кабинета или приложения.

        Если у магазина настроена работа с кодами подтверждения, в запросах [POST /order/status](https://yandex.ru/dev/market/partner-api/doc/ru/pushapi/reference/post-order-status), [PUT campaigns/{campaignId}/orders/{orderId}/status](https://yandex.ru/dev/market/partner-api/doc/ru/reference/orders/updateOrderStatus), [GET campaigns/{campaignId}/orders](https://yandex.ru/dev/market/partner-api/doc/ru/reference/orders/getOrders), [GET campaigns/{campaignId}/orders/{orderId}](https://yandex.ru/dev/market/partner-api/doc/ru/reference/orders/getOrder) в параметре `delivery`, вложенном в `order` будет возвращаться параметр `eacType` с типом `Enum` — тип кода подтверждения для передачи заказа.

        Возможные значения: `MERCHANT_TO_COURIER` — магазин называет код курьеру, `COURIER_TO_MERCHANT` — курьер называет код магазину.

        Параметр `eacType` возвращается при статусах заказа `COURIER_FOUND`, `COURIER_ARRIVED_TO_SENDER` и `DELIVERY_SERVICE_UNDELIVERED`. Если заказ в других статусах, параметр может отсутствовать.

        |**⚙️ Лимит:** рассчитывается по [формуле](*rule)|
        |-|

        [//]: <> (rule: количество товаров в каталоге / 200, но не менее 500 товаров в минуту)
      operationId: verifyOrderEac
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOrderEacRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOrderEacResponse'
          description: Проверка кода выполнена успешно
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Передача кода проверки
      tags:
      - order-delivery
      - express
  /campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit:
    put:
      description: |
        Продлевает срок хранения заказа в пункте выдачи продавца.

        Заказ должен быть в статусе `PICKUP`. Продлить срок можно только один раз, не больше чем на 30 дней.

        Новый срок хранения можно получить в параметре `outletStorageLimitDate` запроса [GET campaigns/{campaignId}/orders/{orderId}](../../reference/orders/getOrder.md).

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: updateOrderStorageLimit
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStorageLimitRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Пустой ответ
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Продление срока хранения заказа
      tags:
      - order-delivery
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label:
    get:
      description: |
        Формирует ярлык‑наклейку на отдельное грузовое место в заказе и возвращает ярлык в PDF‑файле.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: generateOrderLabel
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор грузоместа
        in: path
        name: shipmentId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор коробки
        in: path
        name: boxId
        required: true
        schema:
          format: int64
          type: integer
      - description: "Настройка размещения ярлыков на странице. Если параметра нет\
          , возвращается PDF с ярлыками формата A6."
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/PageFormatType'
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: PDF‑файл с ярлыками на отдельное грузовое место. Файл содержит
            одну страницу с ярлыком.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Ярлык‑наклейка на отдельное грузовое место в заказе
      tags:
      - order-labels
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/delivery/labels:
    get:
      description: |
        Возвращает PDF-файл с ярлыками, которые нужно наклеить на посылки перед отгрузкой. Подробно о том, зачем они нужны и как выглядят, рассказано [в Справке](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).

        На вход нужно передать идентификатор заказа и один необязательный параметр, который управляет версткой PDF-файла.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: generateOrderLabels
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: "Настройка размещения ярлыков на странице. Если параметра нет\
          , возвращается PDF с ярлыками формата A6."
        in: query
        name: format
        required: false
        schema:
          $ref: '#/components/schemas/PageFormatType'
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: PDF‑файл с ярлыками на все грузовые места.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Ярлыки‑наклейки на все грузовые места в заказе
      tags:
      - order-labels
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/delivery/labels/data:
    get:
      description: |
        Возвращает информацию на ярлыках, которые клеятся на грузовые места в заказе.

        |**⚙️ Лимит:** 1 000 000 запросов в час|
        |-|
      operationId: getOrderLabelsData
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderLabelsDataResponse'
          description: Информация для печати ярлыков
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация на ярлыках‑наклейках
      tags:
      - order-labels
      - fbs
      - express
  /campaigns/{campaignId}/returns:
    get:
      description: |
        Получает список возвратов и невыкупов.

        Чтобы получить информацию по одному возврату или невыкупу, выполните запрос `GET /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}`.

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: getReturns
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: |
          Идентификатор страницы c результатами.

          Если параметр не указан, возвращается самая старая страница.

          Рекомендуется передавать значение выходного параметра `nextPageToken`, полученное при последнем запросе.

          Если задан `page_token`, параметры `offset`, `page_number` и `page_size` игнорируются.
        example: eyBuZXh0SWQ6IDIzNDIgfQ==
        in: query
        name: page_token
        required: false
        schema:
          type: string
      - description: |
          Количество товаров на одной странице.
        example: 20
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
      - description: |
          Идентификаторы заказов — для фильтрации результатов.

          Несколько идентификаторов перечисляются через запятую без пробела.
        in: query
        name: orderIds
        required: false
        schema:
          items:
            example: 123543
            format: int64
            type: integer
          type: array
      - description: |
          Статусы возвратов или невыкупов — для фильтрации результатов.

          Возможные значения:

          * CREATED — возврат создан.

          * RECEIVED — принят у покупателя.

          * IN_TRANSIT — возврат в пути.

          * READY_FOR_PICKUP — возврат готов к выдаче магазину.

          * PICKED — возврат выдан магазину.

          * LOST — возврат утерян при транспортировке.

          * CANCELLED — возврат отменен.

          * EXPIRED — возврат просрочен, покупатель не передал товар.

          * FULFILMENT_RECEIVED — возврат принят на складе Маркета.

          * PREPARED_FOR_UTILIZATION — возврат передан в утилизацию.

          * UTILIZED — возврат утилизирован.

          Несколько статусов перечисляются через запятую.
        example: "STARTED_BY_USER,WAITING_FOR_DECISION"
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/RefundStatusType'
          type: array
      - description: |
          Тип заказа для фильтрации:

          * RETURN — возврат.

          * UNREDEEMED — невыкуп.

          Если не указывать, в ответе будут и возвраты, и невыкупы.
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ReturnType'
      - description: |
          Начальные дата и время для фильтрации возвратов или невыкупов по дате оформления.

          Формат: ГГГГ-ММ-ДД.
        example: 2022-10-31
        in: query
        name: fromDate
        required: false
        schema:
          format: date
          type: string
      - description: |
          Конечные дата и время для фильтрации возвратов или невыкупов по дате оформления.

          Формат: ГГГГ-ММ-ДД.
        example: 2022-11-30
        in: query
        name: toDate
        required: false
        schema:
          format: date
          type: string
      - deprecated: true
        description: "Дата, с которой интересуют возвраты (устаревшее, будет удале\
          но)"
        example: 2022-10-31
        in: query
        name: from_date
        required: false
        schema:
          format: date
          type: string
      - deprecated: true
        description: "Дата, до которой интересуют возвраты (устаревшее, будет удал\
          ено)"
        example: 2022-11-30
        in: query
        name: to_date
        required: false
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnsResponse'
          description: Постраничные возвраты партнера
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Список возвратов и невыкупов
      tags:
      - returns
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}:
    get:
      description: |
        Получает информацию по одному возврату или невыкупу.

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: getReturn
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор возврата
        in: path
        name: returnId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnResponse'
          description: Детали возврата.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Информация о возврате или невыкупе
      tags:
      - returns
      - fbs
      - dbs
      - express
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision:
    post:
      description: |
        Выбирает решение по возврату от покупателя. После этого для подтверждения решения нужно выполнить запрос [POST campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit](../../reference/orders/submitReturnDecision.md).

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: setReturnDecision
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор возврата
        in: path
        name: returnId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetReturnDecisionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Детали возврата
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Принятие/изменение решения по позиции в возврате
      tags:
      - returns
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision/submit:
    post:
      description: |
        Подтверждает выбранное решение по возврату, отправленное в запросе [POST campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/decision](../../reference/orders/setReturnDecision.md).

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: submitReturnDecision
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор возврата
        in: path
        name: returnId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
          description: Статус выполнения операции
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiForbiddenErrorResponse'
          description: Данные для авторизации неверны или доступ к ресурсу запрещен.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiNotFoundErrorResponse'
          description: Запрашиваемый ресурс не найден.
        "420":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLimitErrorResponse'
          description: Превышено ограничение на доступ к ресурсу.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerErrorResponse'
          description: Внутренняя ошибка сервера.
      summary: Подтверждение решения по возвратным позициям
      tags:
      - returns
      - dbs
  /campaigns/{campaignId}/orders/{orderId}/returns/{returnId}/application:
    get:
      description: |
        Загружает заявление покупателя на возврат товара.

        |**⚙️ Лимит:** 10 000 запросов в час|
        |-|
      operationId: getReturnApplication
      parameters:
      - description: |
          Идентификатор кампании в API и магазина в кабинете. Каждая кампания в API соответствует магазину в кабинете.

          Чтобы узнать идентификаторы своих магазинов, воспользуйтесь запросом [GET campaigns](../../reference/campaigns/getCampaigns.md).

          ℹ️ [Что такое кабинет и магазин на Маркете](https://yandex.ru/support/marketplace/account/introduction.html)
        in: path
        name: campaignId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор заказа.
        in: path
        name: orderId
        required: true
        schema:
          format: int64
          type: integer
      - description: Идентификатор возврата
        in: path
        name: returnId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Заявление на возврат.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
          description: Запрос содержит неправильные данные.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUnauthorizedErrorResponse'
          description: В запросе не указаны данные для авторизации.
[...]
